*{
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: gray;
}

body {
    background-color:white;
    line-height: 2em;
    color: blue;
     /* padding: auto; */
}

.about-box {
    width: 1120px;
    height: 574px; 
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    /* padding: 30px;  */
}

.about-text {
  font-size: 18px;
  width: 560px;
  padding: 30px;
}

img {
    padding: 30px;
}